.wautocompleter {
  margin: 0.3em;
  padding: 0.3em;

  background-color: #ddd;
  border: 1px solid #000;
  color: #000;

  .candidate-number {
    color: #555;
    font-size: 0.7em;
    margin-right: 0.3em;
  }
}

.nightMode .wautocompleter {
  background-color: #222;
  border: 1px solid #aaa;
  color: #fff;

  .candidate-number {
    color: #ccc;
  }
}
